body {
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/600145-PMXAGX-487.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color: #4e555b;
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.btn {
    font-size: 2rem;
    background-color: #98C764;
    color: white;
    border: hidden;
    opacity: 0.5;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

#overview {
    height: 100vh;
    width: 100vw;
    background-image: url("../../images/4066.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#plantdisplay {
    margin-top: 20vh;
}

h1 {
    font-size: 3rem;
    font-family: 'Crete Round', serif;
    color: #4e555b;
}

#title {
    text-align: center;
    color: #98C764
}